.clickElement {
	position: absolute;
	opacity: 0;
	animation: .8s ease-out fadeOut;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	z-index: 99;
	pointer-events: none;
}

@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}